/* style.css */

body{
  background: #fff;
  color: #000; 
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  margin:0;
}

nav{
  display:inline;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
} 

nav li {
  margin: 10px;
  display:inline;
}

nav ul {
  float: left;
  margin-top: 25px;
}

h1{
  font-family: 'Roboto', sans-serif;
  color:  #41A3C0; 
  font-weight: bolder;
  font-size: 2em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #3b4563;
  font-weight: lighter;
  font-size: 1.5em;
}

p{
  color: #8e9bac;
}

a { 
  color: #29324B;
}

#baseline a:hover {
  text-decoration: none;
  color: rgb(225, 0, 152);
  position: relative;
  top:1px;
}

#logo{
  color: rgb(225, 0, 152);
  font-size: 35px;  
  font-family: 'Pacifico', cursive;
  float: left;
  margin-left: 50px;
}

/* Mis en forme de la baseline */
#baseline{
  background-image: url(https://data.whicdn.com/images/311203557/original.jpg?t=1524487415);
  text-align: center;
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

#baseline h1 {
  color: white;
  font-size: 50px;
}

#baseline a {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  text-decoration: none;
}

.feature {border: 1px solid #F2F2F2;
  margin: 15px;
  padding: 15px 0;
  text-align: center;
  width: 400px;
  background: #FAFAFA;
}

#apropos{
  margin: 0 auto;
  width: 80%;
  background:#DDC9C5;
  border:#DDC9C5;
  border:#7EAD63;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.red{
  color: #850606;
}